extends userLayout 

block content-head 
    title Registration Form

block content-body 
    h1 Registration Form
    form(action="/agent/register" method="post")
      label(for="agentname") Name:
      input(type="text" name="agentname" required)
      br
      label(for="agency") Agency Name:
      input(type="text" name="agency" required)
      br
      label(for="phone") Phone No:
      input(type="tel" name="phone")
      br
      label(for="agentemail") Email:
      input(type="email" name="agentemail" required)
      br
      label(for="agentpassword") Password:
      input(type="password" name="agentpassword" required)
      br
      label(for="agentid") Agent ID:
      input(type="text" name="agentid" required)
      br
      
      input(type="submit" value="Register")
include userFooter